*.iml
.gradle
/local.properties
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
.DS_Store
/build
/captures
.externalNativeBuild
Thumbs.db
.Spotlight-V100

# User-specific configurations

/.idea/workspace.xml

/.idea/libraries

/.idea/caches

/.idea/misc.xml

/.idea/shelf


gradlew.bat
gradlew
