<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="fr.budgethashtag">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:fullBackupContent="@xml/backup_descriptor">
        <provider android:name="fr.budgethashtag.contentprovider.BudgetProvider"
        android:authorities="BudgetStore.Budget"
        android:exported="false" />
        <provider android:name="fr.budgethashtag.contentprovider.PortefeuilleProvider"
        android:authorities="BudgetStore.Portefeuille"
        android:exported="false" />
        <provider android:name="fr.budgethashtag.contentprovider.TransactionProvider"
            android:authorities="BudgetStore.Transaction"
            android:exported="false" />
        <activity android:name=".activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".activity.AddBudgetActivity">
            <intent-filter>
                <data android:mimeType="vnd.android.cursor.dir/vdn.budgethashtag.budget" />
                <action android:name="android.intent.action.INSERT"/>
            </intent-filter>
        </activity>
        <activity android:name=".activity.AddTransactionActivity">
            <intent-filter>
                <data android:mimeType="vnd.android.cursor.dir/vdn.budgethashtag.transaction" />
                <action android:name="android.intent.action.INSERT"/>
            </intent-filter>
        </activity>
    </application>
</manifest>
